$no-mqs: true;

//@import "compass";

@import "partials/config";
@import "partials/normalise";
@import "partials/mixins";


/* ============ Optional modules ============= */
@import "modules/utilities";
@import "modules/gallery";
@import "modules/post-meta";

/* =============== Site styles =============== */
@import "partials/elements";
@import "partials/typography";
@import "partials/colour";

/* =============== Debugging =============== */
//@import "partials/debug";

body {
  font-family: $basefontfamily;
  font-size: #{$basefontsize}px;
  line-height: $baselineheight;
}
