//	==========================================================================
//  Configuration
//
// 	All variables and configuration options go in here.
//	Commented out variables are not currently being used.
//	==========================================================================
//
//		1. General Setup
//		2. Colours
//		3. Typography
//		4. Navigation & links
//		5. Media Queries
//		6. Buttons
//		7. Forms
//		8. Tables
//		9. Alerts
//		10. Grid
//		11. Site Specific
//




// ==========================================================================
//   1. General Setup
// ==========================================================================

@import "susy";

//
// Turning debug on will outline any missing elements etc.
// Lookin in _debug.scss for more information.

$debug-mode																					: false !default;


// Borders
$bordercolor																				: #efefef;
$borderwidth																				: 1px;
$borderstyle																				: solid;

$borderradius																				: 4px;

$transitionduration																	: .25s;



// ==========================================================================
//   2. Colours
// ==========================================================================

$black																							: #000000;
$white																							: #ffffff;
$grey                                               : #76797c;

$bodycolor																					: #fff;
$textcolor																					: #565658;
$textlightercolor                                   : #464646;

$basecolor																					: $black;


$errorcolor																					: #d9534f;
$infocolor																					: #5bc0de;
$successcolor																				: #5cb85c;
$warningcolor																				: #f0ad4e;
$primarycolor																				: $black;
$secondarycolor                                     : blue;
$tertiarycolor                                      : red;

$wellbgcolor                                        : #F9FAFB;





// ==========================================================================
//   3. Typography
// ==========================================================================

$basefontfamily																			: "Helvetica Neue", Helvetica, Arial, sans-serif;
$basefontsize																				: 14;
$baselineheight																			: 1.5em;
$baseheadingfont																		: $basefontfamily;
$baseheadingfontweight															: bold;
$baseheadingfontcolor																: $textcolor;

$codefont 																					: Monaco, Courier New, monospace;





// ==========================================================================
//   4. Navigation & Links
// ==========================================================================

/* Links */

$linkcolor																					: $primarycolor;
$linkcolorhover																			: $secondarycolor;
$linkcolorvisited																		: $linkcolor;
$linkcolorfocus																			: darken($linkcolorvisited, 10);

// Navigation

//$navbg																							: #ffffff;
$navlinkcolor 																			: $primarycolor;
$navlinkhovercolor 																	: $secondarycolor;
//$navlinkbg 																					: $white;
//$navlinkhoverbg 																		: rgba(0,0,0,0.3);


// Top Nav
//$topnavlinkcolor                                    : #ffffff;




// ==========================================================================
//   5. Media Queries
// ==========================================================================

$no-mqs																							: false !default;

// Em values based of browser default 16px.
$bp1																								: 30em;			//480px;
$bp2																								: 37.5em;		//600px;
$bp3																								: 48em;			//768px;
$bp4																								: 50em;			//800px;
$bp5																								: 61.875em; //990px;
$bp6																								: 75em;			//1200px;




// ==========================================================================
//   6. Buttons
// ==========================================================================

$buttonbackgroundcolor															: $textcolor;
$buttoncolor																				: $white;
$buttonpadding																			: 8px 15px;
$buttonfontsize																			: $basefontsize;
$buttontransform																		: uppercase;
$buttonborderradius																	: $borderradius;

// Set to true to enable button borders
$buttonborder																				: false !default;
$buttonborderwidth																	: 1px;
$buttonborderstyle																	: solid;
$buttonbordercolor																	: darken($buttonbackgroundcolor, 10%);

// Button variations
// Error
$buttoncolorerror																		: $buttoncolor;

// Info
$buttoncolorinfo																		: $buttoncolor;

// Primary
$buttoncolorprimary																	: $buttoncolor;

// Success
$buttoncolorsuccess																	: $buttoncolor;

// Warning
$buttoncolorwarning																	: $buttoncolor;



// ==========================================================================
//   7. Forms
// ==========================================================================

//$inputbackground																		: #fafafa;
//$inputborder																				: $bordercolor;
//$inputborderwidth																		: 1px;
//$inputborderstyle																		: solid;
$inputborderradius																	: $borderradius;
//$inputhover																					: lighten($basecolor, 20%);
//$inputfocus																					: $inputhover;
//$placeholdercolor																		: darken($black, 50%);
$inputpadding																				: 6px;




// ==========================================================================
//   8. Tables
// ==========================================================================

$tablebackgroundcolor 															: $white;
$tablepadding																				: 10px;
$tableborderwidth																		: 1px;
$tableborderstyle 																	: solid;
$tablebordercolor																		: $bordercolor;
$tablebackgroundstripe															: $bordercolor;
$tablebackgroundhover																: transparent;



// ==========================================================================
//   9. Alerts
// ==========================================================================

$alertbackgroundcolor																: $black;
$alertcolor																					: $white;
$alertpadding																				: 5px 10px;
$alertborderradius																	: $borderradius;
$alertfontsize																			: 16;
$alertborderwidth																		: 1px;
$alertborderstyle																		: solid;
$alertbordercolor																		: darken($alertbackgroundcolor, 10%);

// Alert variations
// Error
$alertbackgroundcolorerror													: $errorcolor;
$alertcolorerror																		: $white;

// Info
$alertbackgroundcolorinfo														: $infocolor;
$alertcolorinfo																			: $white;

// Primary
$alertbackgroundcolorprimary												: $primarycolor;
$alertcolorprimary																	: $white;

// Success
$alertbackgroundcolorsuccess												: $successcolor;
$alertcolorsuccess																	: $white;

// Warning
$alertbackgroundcolorwarning												: $warningcolor;
$alertcolorwarning																	: $white;




// ==========================================================================
//   10. Grid
// ==========================================================================

// 960 grid: 60px columns, 20px gutters.
// Based on 14px basefontsize, change values if basefontsize changes.
$susy: (
	columns: 12,
  gutters: 1/3,
  column-width: 4.2857142857em,
);

// 1170 grid: 70px columns, 30px gutters.
//$susy: (
//	columns: 12,
//  gutters: .42857142857,
//  column-width: 5em,
//);


$gutter-width																				: 20px;




// ==========================================================================
//   11. Site Specific
// ==========================================================================

//$footerbgcolor																			: $white;
//$footercolor																				: $black;
//$footerlinkcolor                                    : $footercolor;
