//
 //  Configuration
 //
 // All variables and configuration options go in here.
 //
 // 1. General Setup
 // 2. Colours
 // 3. Typography
 // 4. Navigation & links
 // 5. Media Queries
 // 6. Buttons
 // 7. Forms
 // 8. Tables
 // 9. Alerts
 // 10. Grid
 // 11. Site Specific
 //
 //




// ==========================================================================
//   1. General Setup
// ==========================================================================

@import "susy";

//
// Turning debug on will outline any missing elements etc.
// Lookin in _debug.scss for more information.

$debug-mode																					: false !default;


// Borders
$bordercolor																				: #efefef;
$borderwidth																				: 1px;
$borderstyle																				: solid;

$borderradius																				: 4px;

$transitionduration																	: .25s;



// ==========================================================================
//   2. Colours
// ==========================================================================

$black																							: #000000;
$white																							: #ffffff;
$grey                                               : #76797c;

$bodycolor																					: #fff;
$textcolor																					: #565658;
$textlightercolor                                   : #464646;

$basecolor																					: $black;


$errorcolor																					: #d9534f;
$infocolor																					: #5bc0de;
$successcolor																				: #5cb85c;
$warningcolor																				: #f0ad4e;
$primarycolor																				: $black;
$secondarycolor                                     : blue;
$tertiarycolor                                      : red;

$wellbgcolor                                        : #F9FAFB;





// ==========================================================================
//   3. Typography
// ==========================================================================

$basefontfamily																			: "Helvetica Neue", Helvetica, Arial, sans-serif;
$basefontsize																				: 12;
$baselineheight																			: 1.5em;
$baseheadingfont																		: $basefontfamily;
$baseheadingfontweight															: bold;
$baseheadingfontcolor																: $textcolor;

$codefont 																					: Monaco, Courier New, monospace;





// ==========================================================================
//   4. Navigation & Links
// ==========================================================================

/* Links */

$linkcolor																					: $primarycolor;
$linkcolorhover																			: $secondarycolor;
$linkcolorvisited																		: $linkcolor;
$linkcolorfocus																			: darken($linkcolorvisited, 10);

// Navigation

$navbg																							: #ffffff;
$navlinkcolor 																			: $primarycolor;
$navlinkhovercolor 																	: $secondarycolor;
$navlinkbg 																					: $white;
$navlinkhoverbg 																		: rgba(0,0,0,0.3);


// Top Nav
$topnavlinkcolor                                    : #ffffff;




// ==========================================================================
//   5. Media Queries
// ==========================================================================

$no-mqs																							: false !default;

$bp1																								: 480px;
$bp2																								: 600px;
$bp3																								: 768px;
$bp4																								: 800px;
$bp5																								: 990px;
$bp6																								: 1200px;




// ==========================================================================
//   6. Buttons
// ==========================================================================

$buttonbackgroundcolor															: $textcolor;
$buttoncolor																				: $white;
$buttonpadding																			: 8px 15px;
$buttonfontsize																			: 12;
$buttontransform																		: uppercase;
$buttonborderradius																	: $borderradius;

// Set to true to enable button borders
$buttonborder																				: false !default;
$buttonborderwidth																	: 1px;
$buttonborderstyle																	: solid;
$buttonbordercolor																	: darken($buttonbackgroundcolor, 10%);

// Button variations
// Error
$buttoncolorerror																		: $buttoncolor;

// Info
$buttoncolorinfo																		: $buttoncolor;

// Primary
$buttoncolorprimary																	: $buttoncolor;

// Success
$buttoncolorsuccess																	: $buttoncolor;

// Warning
$buttoncolorwarning																	: $buttoncolor;



// ==========================================================================
//   7. Forms
// ==========================================================================

$inputbackground																		: #fafafa;
$inputborder																				: $bordercolor;
$inputborderwidth																		: 1px;
$inputborderstyle																		: solid;
$inputhover																					: lighten($basecolor, 20%);
$inputfocus																					: $inputhover;
$placeholdercolor																		: darken($black, 50%);




// ==========================================================================
//   8. Tables
// ==========================================================================

$tablebackgroundcolor 															: $white;
$tablepadding																				: 10px;
$tableborderwidth																		: 1px;
$tableborderstyle 																	: solid;
$tablebordercolor																		: $bordercolor;
$tablebackgroundstripe															: $bordercolor;
$tablebackgroundhover																: transparent;



// ==========================================================================
//   9. Alerts
// ==========================================================================

$alertbackgroundcolor																: $black;
$alertcolor																					: $white;
$alertpadding																				: 5px 10px;
$alertborderradius																	: $borderradius;
$alertfontsize																			: 16;
$alertborderwidth																		: 1px;
$alertborderstyle																		: solid;
$alertbordercolor																		: darken($alertbackgroundcolor, 10%);

// Alert variations
// Error
$alertbackgroundcolorerror													: $errorcolor;
$alertcolorerror																		: $white;

// Info
$alertbackgroundcolorinfo														: $infocolor;
$alertcolorinfo																			: $white;

// Primary
$alertbackgroundcolorprimary												: $primarycolor;
$alertcolorprimary																	: $white;

// Success
$alertbackgroundcolorsuccess												: $successcolor;
$alertcolorsuccess																	: $white;

// Warning
$alertbackgroundcolorwarning												: $warningcolor;
$alertcolorwarning																	: $white;




// ==========================================================================
//   10. Grid
// ==========================================================================

$susy: (
	columns: 12,
  gutters: .3,
  column-width: 60px,
);

//$total-columns																			: 12;
//$column-width																				: 60px;
$gutter-width																				: 20px;
//$grid-padding																				: $gutter-width * 1.5;




// ==========================================================================
//   11. Site Specific
// ==========================================================================

$footerbgcolor																			: $white;
$footercolor																				: $black;
$footerlinkcolor                                    : $footercolor;
