/*
 * For general layout and structure.
 * breakpoint specific layout will be in bp scss files.
 *
 *
 */

.container {
	@include container;
  @if $no-mqs {
    width: 940px; // Fix width.
  }
}

.has-sidebar .main {
  @include bp(tablet) {
    @include span(9);
  }
}
.sidebar {
  @include bp(tablet) {
    @include span(3 omega);
  }
}

// Standard layouts
.row {
  @include clearfix;
  clear: both;
  @include bp(mobile-large) {
    .one-half {
      width: span(6) - gutter();
      display: inline;
      float: left;
      margin-right: gutter() * 2;
    }
    .one-third {
      width: span(4) - gutter();
      display: inline;
      float: left;
      margin-right: gutter() * 2;
    }
    .one-quarter {
      width: span(3) - gutter();
      display: inline;
      float: left;
      margin-right: gutter() * 2;
    }
    .third-twothird--first {
      width: span(4) - gutter();
      display: inline;
      float: left;
      margin-right: gutter() * 2;
    }
    .third-twothird--last {
      width: span(8) - gutter();
      display: inline;
      float: right;
      margin-right: 0;
    }
    .twothird-third--first {
      width: span(8) - gutter();
      display: inline;
      float: left;
      margin-right: gutter() * 2;
    }
    .twothird-third--last {
      width: span(4) - gutter();
      display: inline;
      float: right;
      margin-right: 0;
    }
    .one-third--last,
    .one-half--last,
    .one-quarter--last {
      margin-right: 0;
    }
  }
  &.layout {
    @include clearfix();
    margin-bottom: $baselineheight;
  }
}