/*
 * For general layout and structure.
 * breakpoint specific layout will be in bp scss files.
 *
 *
 */

.container {
	@include container;
	padding-left: 20px;
	padding-right: 20px;

  @if $no-mqs {
    width: 940px; // Fix width. Change depending on grid size.
  }
}

.has-sidebar .main {
  @include bp(tablet) {
    @include span(9);
  }
}
.sidebar {
  @include bp(tablet) {
    @include span(3 omega);
  }
}

// Standard layouts
.row {
  @include clearfix;
  clear: both;
  @include bp(mobile-large) {
    .one-half {
      @include span(6 of 12);
    }
    .one-third {
      @include span(4 of 12);
    }
    .one-quarter {
      @include span(3 of 12);
    }
    .third-twothird--first {
      @include span(4 of 12);
    }
    .third-twothird--last {
      @include span(last 8 of 12);
    }
    .twothird-third--first {
      @include span(8 of 12);
    }
    .twothird-third--last {
      @include span(last 4 of 12);
    }
    .one-third--last,
    .one-half--last,
    .one-quarter--last {
      margin-right: 0;
    }
  }
  &.layout {
    @include clearfix();
    margin-bottom: $baselineheight;
  }
}