html {
	background: $bodycolor;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	background-color: $bodycolor;
	font-family: $basefontfamily;
	font-size: #{$basefontsize}px;
	line-height: $baselineheight;
	color: $textcolor;
}