.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: $buttonpadding;
	margin-bottom: 0;
	*margin-left: .3em;
	font: {
		weight: normal;
		family: $basefontfamily;
	}
	@include font-size($buttonfontsize);
	line-height: 1.5;
	color: $buttoncolor;
	text-align: center;
	vertical-align: middle;
	background-color: $buttonbackgroundcolor;
	@if $buttonborder == true {
		border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
		border-bottom-color: darken($buttonbordercolor, 10%);
	} @else {
    border: none;
  }
	border-radius: $buttonborderradius;
	cursor: pointer;
  text-transform: $buttontransform;

	&:visited,
	&:hover,
	&:active {
		color: $buttoncolor;
		text-decoration: none;
    background-color: darken($buttonbackgroundcolor, 10%);
	}

	&:focus {
		outline: 4px solid $focuscolor;
		outline: 5px auto -webkit-focus-ring-color;
		border-radius: 0;
	}

}

// Button Variations
$buttons: (error, $errorcolor, $buttoncolor),
					(info, $infocolor, $buttoncolorinfo),
					(success, $successcolor, $buttoncolorsuccess),
					(warning, $warningcolor, $buttoncolorwarning),
					(primary, $primarycolor, $buttoncolorprimary),
					(secondary, $secondarycolor, $buttoncolorprimary),
					(inverted, $textcolor, $white);

@each $buttontype, $bgcolor, $color in $buttons {
	.btn--#{$buttontype},
	.btn--#{$buttontype}:visited {
		background: $bgcolor;
		@if $buttonborder == true {
			border: {
				color: darken($bgcolor, 10%);
				bottom-color: darken($bgcolor, 15%);
			}
		}
		color: $color;

		&:active,
		&:hover {
			background-color: darken($bgcolor, 10%);
			color: $color;
		}
	}
}

.btn--extlarge {
	padding: 15px 30px;
	@include font-size(21);
	@if $buttonborder == true {
		border-width: $buttonborderwidth * 2;
	}
	border-radius: $buttonborderradius;
}

.btn--large {
	padding: 11px 18px;
	@include font-size(18);
	line-height: inherit;
	@if $buttonborder == true {
		border-width: $buttonborderwidth * 2;
	}
	border-radius: $buttonborderradius;
}

.btn--small {
	padding: 5px 10px;
	@include font-size(12);
	line-height: inherit;
}

.btn--mini {
	padding: 3px 5px;
	@include font-size(10);
	line-height: inherit;
}

.btn:first-child {
	*margin-left: 0;
}

.btn--disabled {
	opacity: .5;
	cursor: default;
}

.btn-group {
	position: relative;
	*zoom: 1;
	*margin-left: .3em;
	margin-bottom: $baselineheight;

	.btn {
		position: relative;
		float: left;
		margin-left: -1px;
		border-radius: 0;
	}

	.btn:first-child {
		margin-left: 0;
		border-radius: 2px 0 2px 0;
	}

	.btn:last-child {
		border-radius: 0 2px 0 2px;
	}

	.btn.large:first-child {
		margin-left: 0;
		border-radius: 4px 0 4px 0;
	}

	.btn.large:last-child {
		border-radius: 0 4px 0 4px;
	}
}